In [1]:
import numpy as np
import pandas as pd

In [2]:

fraud=pd.read_csv('Fraud_check.csv')
fraud.columns
fraud.columns=['under_grad','marital_status','taxable_income','city_pop','work_exp','urban']

In [3]:
fraud.head()

  under_grad marital_status  taxable_income  city_pop  work_exp urban
0         NO         Single           68833     50047        10   YES
1        YES       Divorced           33700    134075        18   YES
2         NO        Married           36925    160205        30   YES
3        YES         Single           50190    193264        15   YES
4         NO        Married           81002     27533        28    NO

In [4]:
cut_labels=['Risky','Good']
cut_bins=[0,30000,99620]
fraud['tax_inc']=pd.cut(fraud['taxable_income'],bins=cut_bins,labels=cut_labels)
fraud.pop('taxable_income')

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: taxable_income, Length: 600, dtype: int64

In [5]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
fraud['under_grad']=label_encoder.fit_transform(fraud['under_grad'])
fraud['marital_status']=label_encoder.fit_transform(fraud['marital_status'])
fraud['urban']=label_encoder.fit_transform(fraud['urban'])

In [12]:
array=fraud.values
X=array[:,0:5]
Y=array[:,5]
#splitting data using K-Fold cross validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold=KFold(n_splits=10,random_state=None)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100,max_features=3)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())#74.66

0.7433333333333333